body{
	background-color: #014a43;
}

.light-blue{
	color: turquoise;
	font-size:300%;
}

.chat-back-box{
	margin:200px;
	background-color: #116665;
	padding: 20px;
}

.fill{
	height: 100%;
	widows: 100%;
}

.input-field{
  height: 70px;
  width: 100%;
  background-color: #91fff8;
  border: 2px solid #0e4f4e;
  border-radius: 15px;
}

.input{
  height: 80px;
  width: 80%;
  background-color: #91fff8;
  border: 2px solid #0e4f4e;
  border-radius: 15px;
}

.submit-button{
  height: 80px;
  width: 10%;
  border: 2px solid #0e4f4e;
  border-radius: 15px;
  background-color: #91fff8;
}

/*sssssssssssssssssssssssss*/


/* Chat containers */
.container {
  border: 2px solid #0e4f4e;
  background-color: #07e3de;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #0e4f4e;
  background-color: #06c4c0;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}